.no-border-list .list-group-item {
    border: none !important;
}

.list-group-horizontal {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.list-group-item {
    display: inline-block;
}

.btn {
    border-radius: 0;
}

.card {
    cursor: pointer;
}

#order_button {
    height: 7vh !important;
}